* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

main {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.banner {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.banner img {
  width: 2500px;
  height: 250px;
  object-fit: cover;
}

.info {
    padding: 20px;
    margin-bottom: 20px;
}
.info h2 {
    color: #007BFF;
    margin-bottom: 10px;
}
.info p {
    line-height: 1.6;
}