* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #b20091;
    color: white;
    padding: 1em;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

nav {
    background-color: #333;
    padding: 1em;
    justify-items: center;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border-radius: 5px;
}

.menu li a:hover {
  background-color: #555;
}
