p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: black;
    justify-content: center;
}

img {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}